extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(name="name", type="text", placeholder="Full Name")
            input(name="email", type="email", placeholder="Email")
            input(name="password", type="password", placeholder="Password")
            input(name="password2", type="password", placeholder="Verify Password")
            input(type="submit", value="Join Now")
        include partials/socialLogin